# Python
backend-python/.venv
backend-python/__pycache__/
backend-python/*.pyc

# Node
frontend/node_modules
solidity/node_modules
frontend/dist
solidity/artifacts
solidity/cache

# Env
.env
backend-python/.env
frontend/.env

# OS / editor
.DS_Store
*.log
backend-python/app/data/codes.json
solidity/.env.save
backend-python/vs_codes.db
